@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-dot {
  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

/* Nav __________________________________________________ */
.nav {
  @apply flex items-center absolute w-full  px-10 gap-2 left-0  rounded-b-xl p-2  shadow-lg shadow-black/50  bg-white  transition duration-500;
}

/* Container ____________________________________________ */
.container {
  @apply flex p-4 m-4  flex-col items-center justify-center   border-slate-300 rounded-xl  shadow-lg shadow-black/50 border-t bg-white hover:scale-105 transition duration-500;
}
.back-shadow {
  @apply rounded-xl  shadow-lg shadow-black/50 border-t bg-white;
}

.alert {
  @apply flex flex-col items-center justify-center rounded-lg p-2 text-red-600 w-full font-semibold bg-red-200;
}
.sub-container {
  @apply flex flex-col items-center justify-center rounded-lg p-2 gap-4;
}

.list {
  @apply flex  justify-start border-b border-black/50 p-2  items-center gap-2;
}

.avatar {
  @apply w-40 rounded-lg shadow-xl;
}

/* Buttons ______________________________________________ */
.btn-primary {
  @apply p-2 text-white  bg-blue-300 hover:bg-blue-500 duration-300 transition  font-semibold px-4;
}
.btn-secondary {
  @apply p-2 text-white bg-base-l-brown duration-300 transition;
}

/* Form _________________________________________________ */
.form-row {
  @apply flex flex-col border-b p-2 border-black w-full items-start;
}

.form-input {
  @apply md:gap-4 justify-between w-full flex flex-col md:flex-row md:items-center;
}

/* Elements _____________________________________________ */

span {
  @apply font-bold from-neutral-700;
}

td {
  @apply p-2;
}

tr {
  @apply border-b border-black/50;
}

th {
  @apply p-2;
}

input {
  @apply p-2 mt-2 border-slate-200 border rounded-lg bg-slate-50  shadow-inner;
}
label {
  @apply font-semibold capitalize;
}

li {
  @apply text-base-primary font-semibold;
}

.hover-105 {
  @apply transition hover:scale-105 duration-500;
}
.hover-110 {
  @apply transition hover:scale-110 duration-500;
}
.hover-shadow {
  @apply transition hover:shadow-xl duration-500;
}
